# Exclude GitHub workflows
.github/

# Exclude test files
tests/
**/*.test.ts

# Exclude configuration files
.eslint*
*.config.js
jest.*
tsconfig.json

# Exclude environment files
.env*
.env

# Exclude other unnecessary files